.oben {
    display: flex;
    height: 200px;
    width: 100%;
    justify-content: space-between;
}

.box1 {
    height: 200px;
    width: 200px;
    background-color: cadetblue;
    position: relative;
}

.box2 {
    height: 200px;
    width: 200px;
    background-color: cadetblue;
    position: relative;
}

.kleinlinks {
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: coral;
    bottom: 0px;
    right: 0px;
}

.kleinrechts {
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: coral;
    bottom: 0px;
    left: 0px;
}

.green {
    position: fixed;
    background-color: limegreen;
    position: relative;
    width: 170px;
    height: 140px;
    margin-top: 25%;
    margin-left: 8%;
}

.weiss {
    background-color: white;
    height: 40px;
    width: 40px;
    position: absolute;
    right: 0px;
    bottom: 0px;
}